* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  background-color: #1b1b32;
  color: white;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.todo-list-main {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}

h1 {
  color: #b1b132;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0; 
}